[Unit]
Description = Motion-Timeline server

[Service]
ExecStart = /path/to/Motion-Timeline/motion-server.js
User =
Group =

[Install]
WantedBy = multi-user.target