[Unit]
Description = Motion-Timeline detector

[Service]
ExecStart = /path/to/Motion-Timeline/motion-detector.py
User =
Group =

[Install]
WantedBy = multi-user.target